<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de pisos</title>
</head>
<body>
    <h1>Catálogo de pisos</h1>
    <!-- <img src="/media/imgPisos/pisos-de-marmol-4-5.jpg" height="400px" width="500px"> -->
    <p>Lista de datos de cada piso</p>
    <ol>
    {% for piso in pisos %}
        <li>{{piso.numReferencia}} - {{piso.direccion}} - {{piso.cp}} - 
            <!-- si los pisos tienen imagen, la pinta -->
            {% if piso.imagenPiso %}
                <img src="{{ piso.imagenPiso.url }}" width="400px" height="300px">
            {% endif %}
        </li>
    {% endfor %}
    </ol>
    <hr>
    <ul>
        {% for cliente in clientes %}

            <li>
                {{cliente.id}} - {{cliente.nombre}} - {{cliente.apellidos}} - {{cliente.telefono}} - {{cliente.email}}
            </li>
        {% endfor %}
        </ul>
    

</body>
</html>